* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #ccc;
	font-family: arial;
}

.uno, .dos, .tres {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	text-align: center;
}

.uno {
	background: #f00;
}
.dos {
	background: #0f0;
}
.tres {
	background: #00f;
}
